* {
  /*border: 1px solid hotpink;*/
  /*background-color: hotpink;*/
}

/*body {
  height: 100%;
  background-color: white;
}*/

h1, h2, {
	font-family: 'Loved by the King', cursive;
}

.navbar {
  font-weight: bold;
	font-family: 'Loved by the King', cursive;
	/*color: #f7f2e9;*/
}

/*navbar background color*/
.navbar-default {
  background-color:#4f3112;
}

.navbar-right, .navbar-text {
  font-size: 2.5rem;
  font-family: 'Loved by the King', cursive;
}


.main-img, .user-img {
  position: absolute;
  z-index: -5;
}

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 1%;
  width: 100%;
}

.title {
  color: #4f3112;
  font-weight: bold;
  font-size: 9rem;
  margin: auto 0;
  text-align: center;
  overflow: hidden;
	padding-top: 3%;
  padding-bottom: 1%;
	font-family: 'Loved by the King', cursive;
}

.subtitle {
  color: #4f3112;
  font-weight: bold;
  font-size: 6rem;
  margin: auto 0;
  text-align: center;
  overflow: hidden;
  padding-bottom: 2%;
	font-family: 'Loved by the King', cursive;
}

#career {
	font-family: 'Loved by the King';
	font-size: 4.5rem;
	color: #4f3112;
	font-weight: bold;
}

hr.style17 {
	border-top: 1.5px solid #8c8b8b;
	text-align: center;
	padding-bottom: 9%;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);

}

/*=============
About Section
=============*/

#about-container {
	width: 100%;
	padding-bottom: 0;
	min-height: 25em;
}

#about-jumbotron  {
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 5%;
}

#about-container img {
	height: 15em;
	width: 15em;
}

/*Carousel Styles*/
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
		color: white;
		font-weight: bold;
		font-family: 'BenchNine', sans-serif;
		font-size: 6rem;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
		color: #f7f2e9;
}

.contactMe {
	margin: 0 auto;
}

.extraClass {
	font-size: 3rem;
	color: #4f3112;
	cursor: pointer;
	/*margin: 0 auto;*/
}

#contactLinks, #myGit, #myLinkedIn, #myGAProfile, #myTwitAcc {
	margin: 0 auto;
	align-items: center;
	position: relative;
	justify-content: center;
	font-family: 'BenchNine', sans-serif;
	font-size: 3rem;
	color: #4f3112;
	font-weight: bold;
	text-align: center;
	align-items: center;
	cursor: pointer;
	display: block;
}

.emaillink {
	font-family: 'BenchNine', sans-serif;
	font-size: 3rem;
	/*color: #4f3112;*/
	font-weight: bold;
	text-align: center;"
}

@media only screen and (max-width: 375px) {
	.title {
		color: #4f3112;
	  font-weight: bold;
	  font-size: 3.5rem;
	  margin: auto 0;
	  text-align: center;
	  overflow: hidden;
	  padding-bottom: .15%;
		padding-top: 16%;
		font-family: 'Loved by the King', cursive;
	}
	.subtitle {
		color: white;
	  font-weight: bold;
	  font-size: 2rem;
	  margin: auto 0;
	  text-align: center;
	  overflow: hidden;
	  padding-bottom: .15%;
		font-family: 'Loved by the King', cursive;
	}
	#career {
		font-family: 'Loved by the King';
		font-size: 2rem;
		color: white;
		font-weight: bold;
	}

	.nav{
		font-family: 'Loved by the King';
	}
}

@media only screen and (max-width: 768px) {
	.title {
		color: #4f3112;
	  font-weight: bold;
	  font-size: 6rem;
	  margin: auto 0;
	  text-align: center;
	  overflow: hidden;
	  padding-bottom: .15%;
		padding-top: 5%;
		font-family: 'Loved by the King', cursive;
	}
	.subtitle {
		color: #4f3112;
	  font-weight: bold;
	  font-size: 3.5rem;
	  margin: auto 0;
	  text-align: center;
	  overflow: hidden;
	  padding-bottom: .15%;
		font-family: 'Loved by the King', cursive;
	}
	#career {
		font-family: 'Loved by the King';
		font-size: 2.5rem;
		color: #4f3112;
		font-weight: bold;
	}
	.nav{
		font-family: 'Loved by the King';
	}

}
